<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}">
  <head>
    <title>Manage Subjects</title>
  </head>
  <body>
    <div class='container' layout:fragment="content">
		<form action="#" th:object="${entity}" th:action="@{/subject/} + *{refId}" method="post">
	     	<input type="hidden" th:field="*{refId}" />
	     <table>
	     <tr>
			<td width="10%">Name :</td>
				
			<td width="90%" align="left"><input type="text" th:field="*{name}" readonly='readonly' /></td>
								
		</tr>
		<tr>
			<td>Short Name : 	</td>
				
			<td><input type="text" th:field="*{shortName}" readonly='readonly' /></td>
									
		</tr>
		
		<tr>
			<td> Remarks :	</td>
				
			<td><textarea row=5 cols=180 th:field="*{remarks}" readonly='readonly'></textarea></td>
									
		</tr>
		
		
		
		<tr>
		<td>	</td>
		<td >
	              <input type="button" id='btnEdit' value="Edit"/> 
	              <input type="submit" id='btnSubmit' value="Save" style='display:none;'/> 
	              <span><a th:href="@{'/subject.html'}">Cancel</a></span>
	              
	            </td>
	        </tr>
	        
		</table>
	     </form>
        <hr>      
    </div>
  </body>
</html>